/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(blue, indigo);
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}

#map {
  height: 400px;
  width: 100%;
}

#my-pos {
  color: #000;
}

.my-header {
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(indigo, blue);
  background: -o-linear-gradient(indigo, blue);
  background: linear-gradient(indigo, blue);
  border-radius: 50%;
  border-bottom: 20px solid indigo;
}

.marker-txt {
  color: #000;
}

.my-location {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ticketmaster Styles Below */

#attraction-panel {
  display:none;
}

.pager {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tm-events {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm-events-title {
  text-align: center;
  color: #007bff;
}
